{{ define "EditPaper" }}
    {{ template "Header" }} 
    {{ range . }}
    <form id="form">
        <label>Id</label><br>
        <input type="text" name="id" value="{{ .Id }}" readonly/><br>
        <label>Year</label><br>
        <input type="text" name="year" value="{{ .Year }}"/><br>
        <label>Title</label><br>
        <input type="text" name="title" value="{{ .Title }}"/><br>
        <label>Journal</label><br>
        <input type="text" name="journal" value="{{ .Journal }}"/><br>
        <label>Volume</label><br>
        <input type="text" name="volume" value="{{ .Volume }}"/><br>
        <label>Issue</label><br>
        <input type="text" name="issue" value="{{ .Issue }}"/><br>
        <label>Pages</label><br>
        <input type="text" name="pages" value="{{ .Pages }}"/><br>
        <label>Doi</label><br>
        <input type="text" name="doi" value="{{ .Doi }}"/><br><br>

        <button onclick='setForm("POST","/papers/{{ .Id }}/update")'>Update</button>
        <button onclick='setForm("POST","/papers/{{ .Id }}/delete")'>Delete</button>
        <button onclick='setForm("POST","/papers/{{ .Id }}/create")'>Create</button>
        <br>
        <br>
        <div class="paper-rels">
            <a href="/users?paper={{ .Id }}">authors</a>
            <a href="/papers?citer={{ .Id }}">refrences</a>
            <a href="/papers?citee={{ .Id }}">cited by</a>
            <a href="/tags?paper={{ .Id }}">tags</a><br>
        </div>
    </form>
    {{ end }}
    {{ template "Footer" }}
{{ end }}