{{ define "Papers" }}
    {{ template "Header" }} 
    <h2>Papers List</h2>
        {{ range . }}
        <div class ="paper">
            <h3><a href="/papers/{{ .Id }}">{{ .Title }}</a></h3>
            {{ if .Journal }} {{ .Journal }} {{ else }} No Journal {{ end }}
            {{ .Year }}, <b>{{ .Volume }}</b>({{ .Issue }}), pp. {{ .Pages }}<br>
            <a href="/">authors</a>
            <a href="/">refrences</a>
            <a href="/">tags</a>
            <br>
            <a>doi: {{ if .Doi }} {{ .Doi }} {{ end }}</a>
        </div>
        {{ end }}
    {{ template "Footer" }}
{{ end }}