{{ define "Papers" }}
    {{ template "Header" }} 
    <h2>Papers List</h2>
        {{ range . }}
        <div class ="paper">
            <h3><a href="/papers/{{ .Id }}">{{ .Title }}</a></h3>
            {{ if .Journal }} {{ .Journal }} {{ else }} No Journal {{ end }}
            {{ .Year }}, <b>{{ .Volume }}</b>({{ .Issue }}), pp. {{ .Pages }}
            <div class="paper-rels">
                <a href="/users?paper={{ .Id }}">authors</a>
                <a href="/papers?citer={{ .Id }}">refrences</a>
                <a href="/papers?citee={{ .Id }}">cited by</a>
                <a href="/tags?paper={{ .Id }}">tags</a><br>
                {{ if .Doi }}<a>doi: {{ .Doi }}</a>{{ end }}
            </div>
        </div>
        {{ end }}
    {{ template "Footer" }}
{{ end }}