/* body{
    font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    color: #000;  
    margin:auto;
    padding: 50px;
    width:100%;
}
.authors {
    color: #006621;
}

h3 {
    margin-bottom: 2px;
    color: #1a0dab;
    font-weight:normal
}

.paper {
    display: block;
}

ul#menu li {
    display:inline;
}

img{
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
} */